[submodule "lib/util.embedded"]
	path = lib/util.embedded
	url = git@github.com:malachib/util.embedded.git
[submodule "lib/Adafruit_ILI9341"]
	path = lib/Adafruit_ILI9341
	url = git@github.com:malachib/Adafruit_ILI9341.git
[submodule "lib/Adafruit_STMPE610"]
	path = lib/Adafruit_STMPE610
	url = https://github.com/adafruit/Adafruit_STMPE610.git
[submodule "lib/Touch-Screen-Library"]
	path = lib/Touch-Screen-Library
	url = https://github.com/adafruit/Touch-Screen-Library.git
[submodule "lib/ArduinoMenu"]
	path = lib/ArduinoMenu
	url = https://github.com/neu-rah/ArduinoMenu.git
[submodule "lib/Adafruit_SleepyDog"]
	path = lib/Adafruit_SleepyDog
	url = git@github.com:malachib/Adafruit_SleepyDog.git
